{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Пекарня</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
</head>

<body >
  <div class="hero-image">
    <img class="glav-img" src="{% static "deps/images/glav.svg" %}">
  </div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-hero" style="background-color: rgb(92, 51, 27);">
    <a class="navbar-brand" href="#">
      <img src="{% static "deps/images/logo.svg" %}" alt="Логотип">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center align-items-end" id="navbarNav">
      <ul class="navbar-nav mb-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu.php">Доставка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item-korzina">
          <button class="btn btn-outline-info my-2 my-sm-0 me-5 cart-button"
            style="color: rgba(154, 210, 201, 1);" type="submit" data-toggle="modal" data-target="#cartModal">Корзина</button>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Карточки товаров Пироги -->
  <div class="pizza-holder">
    <h1 class="text-center-h1">Продукты без дабовления красителей и усилителей вкуса</h1>
    <img class="pizza" src="{% static "deps/images/pizza.png" %}">
  </div>
  <div class="container mt-5">
    <div class="row mt-5">
      <!-- Пироги -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/sat-pirog/grek.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Греческий пирог</h5>
            <p class="card-text">С творожным сыром и шпинатом</p>
            <p class="card-text">24см/900гр</p>
            <p class="card-text">790р</p>
            <button class="btn btn-primary add-to-cart" data-product="Греческий пирог" data-price="790">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще пирог -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/sat-pirog/mek.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Мексиканский пирог</h5>
            <p class="card-text">С фаршем,фасолью <br>, кукурузой и
              <br>и перцем чили </p>
            <p class="card-text">24см/800гр</p>
            <p class="card-text">640р</p>
            <button class="btn btn-primary add-to-cart" data-product="Мексиканский пирог" data-price="640">
              Добавить
            </button>                        
          </div>
        </div>
      </div>
      <!-- И еще один пирог -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/sat-pirog/tyr.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Турецкий пирог</h5>
            <p class="card-text">Из теста на ржаной муке с <br>нутом,<br>
              томатами и шампиньонами </p>
            <p class="card-text">24см/900гр</p>
            <p class="card-text">580р</p>
            <button class="btn btn-primary add-to-cart" data-product="Турецкий пирог" data-price="580">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row mt-5">
      <!-- Пироги -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/sat-pirog/bel.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Белорусский пирог</h5>
            <p class="card-text">С картофелем и ароматными<br>
              шампиньонами </p>
            <p class="card-text">24см/900гр</p>
            <p class="card-text">890р</p>
            <button class="btn btn-primary add-to-cart" data-product="Белорусский пирог" data-price="890">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще пирог -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/sat-pirog/sib.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Сибирский русский</h5>
            <p class="card-text">С красной рыбой и рисом</p>
            <p class="card-text">24см/800гр</p>
            <p class="card-text">620р</p>
            
            <button class="btn btn-primary add-to-cart" data-product="Сибирский русский" data-price="620">Добавить</button>
          </div>
        </div>
      </div>
      <!-- И еще один пирог -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/sat-pirog/mun.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Мюнхенский пирог</h5>
            <p class="card-text">С колбасками,зеленым лучком,<br>
              оливками и картофелем</p>
            <p class="card-text">24см/900гр</p>
            <p class="card-text">560р</p>
            <button class="btn btn-primary add-to-cart" data-product="Мюнхенский пирог" data-price="560">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Сладкие пироги -->
  <div class="pirog-holder">
    <img class="pirog" src="{% static "deps/images/Group 5.png" %}">
  </div>
  <div class="container">
    <div class="row">
      <!-- Пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/slad-pirog/fin.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Финский вишнёвый пирог</h5>
            <p class="card-text">С натуральной вишней</p>
            <p class="card-text">24см/800гр</p>
            <p class="card-text">690р</p>
            <button class="btn btn-primary add-to-cart" data-product="Финский вишнёвый пирог" data-price="690">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/slad-pirog/angl.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Английский Яблочный пирог</h5>
            <p class="card-text">С натуральным яблоком и <br>
              с взбитыми сливками </p>
            <p class="card-text">24см/840гр</p>
            <p class="card-text">790р</p>
            <button class="btn btn-primary add-to-cart" data-product="Английский Яблочный пирог" data-price="790">Добавить</button>
          </div>
        </div>
      </div>
      <!-- И еще одна пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/slad-pirog/ded.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Датский пай</h5>
            <p class="card-text">С натуральной лесной <br>
              черникой</p>
            <p class="card-text">24см/900гр</p>
            <p class="card-text">600р</p>
            <button class="btn btn-primary add-to-cart" data-product="Датский пай" data-price="600">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Сладкие пироги -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/slad-pirog/pol.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Польский пирог</h5>
            <p class="card-text">С маком и творожным <br>сыром</p>
            <p class="card-text">24см/760гр</p>
            <p class="card-text">590р</p>
            <button class="btn btn-primary add-to-cart" data-product="Польский пирог" data-price="590">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще сладкий пирог -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/slad-pirog/bal.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Балийский пирог</h5>
            <p class="card-text">С томленым яблоком <br>
              и ьрусникой</p>
            <p class="card-text">24см/800гр</p>
            <p class="card-text">780р</p>
            <button class="btn btn-primary add-to-cart" data-product="Балийский пирог" data-price="780">Добавить</button>
          </div>
        </div>
      </div>
      <!-- И еще один сладкий пирог -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/slad-pirog/rum.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Румынский пирог</h5>
            <p class="card-text">С вишней и черной <br>
              смородиной</p>
            <p class="card-text">24см/900гр</p>
            <p class="card-text">900р</p>
            <button class="btn btn-primary add-to-cart" data-product="Румынский пирог" data-price="900">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Пицца -->
  <div class="pizzaa-holder">
    <img class="pizzaa" src="{% static "deps/images/Group 6.png" %}">
  </div>
  <div class="container">
    <div class="row">
      <!-- Пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/pizza/irla.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Ирладская пицца"</h5>
            <p class="card-text">5 сыров</p>
            <p class="card-text">30см/700гр</p>
            <p class="card-text">690р</p>
            <button class="btn btn-primary add-to-cart" data-product="Ирладская пицца" data-price="690">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/pizza/amst.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Амстердамская пицца"</h5>
            <p class="card-text">С  фаршем и отборной <br>говядиной</p>
            <p class="card-text">30см/700гр</p>
            <p class="card-text">790</p>
            <button class="btn btn-primary add-to-cart" data-product="Амстердамская пицца" data-price="790">Добавить</button>
          </div>
        </div>
      </div>
      <!-- И еще одна пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/pizza/lorans.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Лоранская пицца</h5>
            <p class="card-text">С курицей и шампьнонами </p>
            <p class="card-text">30см/650гр</p>
            <p class="card-text">680р</p>
            <button class="btn btn-primary add-to-cart" data-product="Лоранская пицца" data-price="680">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/pizza/norv.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Норвежская пицца</h5>
            <p class="card-text">С красной рыбой и икрой</p>
            <p class="card-text">30см/700гр</p>
            <p class="card-text">760р</p>
            <button class="btn btn-primary add-to-cart" data-product="Норвежская пицца" data-price="760">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/pizza/munhen.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Мюнхенская пицца</h5>
            <p class="card-text">С ветчиной и сочными шампиньонами</p>
            <p class="card-text">30см/650гр</p>
            <p class="card-text">760р</p>
            <button class="btn btn-primary add-to-cart" data-product="Мюнхенская пицца" data-price="760">Добавить</button>
          </div>
        </div>
      </div>
      <!-- И еще одна пицца -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/pizza/veng.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Венгерская пицца</h5>
            <p class="card-text">С острой колбаской салями</p>
            <p class="card-text">30см/650гр</p>
            <p class="card-text">760р</p>
            <button class="btn btn-primary add-to-cart" data-product="Венгерская пицца" data-price="760">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Напитки -->
  <div class="napitki-holder">
    <h1 class="napitki">Напитки</h1>
  </div>
  <div class="container">
    <div class="row">
      <!-- Напитки -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/napitki/klukv.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Клюквенный морс</h5>
            <p class="card-text">100% натуральный</p>
            <p class="card-text">1л</p>
            <p class="card-text">200р</p>
            <button class="btn btn-primary add-to-cart" data-product="Клюквенный морс" data-price="200">Добавить</button>
          </div>
        </div>
      </div>
      <!-- Еще напиток -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/napitki/smor.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Смородиновый морс</h5>
            {% comment %} <p class="card-text">Обычная или Light</p> {% endcomment %}
            <p class="card-text">1л</p>
            <p class="card-text">190р</p>
            <button class="btn btn-primary add-to-cart" data-product="Смородиновый морс" data-price="190">Добавить</button>
          </div>
        </div>
      </div>
      <!-- И еще один напиток -->
      <div class="col-md-4">
        <div class="card mx-auto">
          <img src="{% static "deps/images/menu/napitki/oble.png" %}" class="card-img-top" alt="Product image">
          <div class="card-body">
            <h5 class="card-title">Облепиховый морс</h5>
            <p class="card-text">100% натуральный</p>
            <p class="card-text">1л</p>
            <p class="card-text">150р</p>
            <button class="btn btn-primary add-to-cart" data-product="Облепиховый морс" data-price="150">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Доставка и оплата -->
  <div class="dostavka-holder">
    <h1 class="dostavka-footer">Доставка и оплата</h1>
  </div>
  <footer class="example-1">
  </footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="dostav" src="{% static "deps/images/samo.png" %}" alt="Image 1">
      <div class="dostav-txt">
        <h1 class="h1-dost">Самовывоз</h1>
        <h2 class="p-dost">Вы можете забрать заказ<br>
          самостоятельно в нашей<br> 
          пекарне</h2>
      </div>
      </div>
      <div class="col-md-3">
        <img class="dostav" src="{% static "deps/images/kur.png" %}" alt="Image 2">
        <h1 class="h1-dost">Доставка курьером</h1>
        <h2 class="p-dost">Срок доставки от 1.5 до 3-х часов.<br>
          Стоимость доставки зависит от расстояния и суммы заказа.<br>
          Доставка работает с 09:00 до 21:00</h2>
      </div>
      <div class="col-md-3">
        <img class="dostav" src="{% static "deps/images/oplata.png" %}" alt="Image 3">
        <h1 class="h1-dost">Оплата</h1>
        <h2 class="p-dost">Вы можете оплатить заказ при<br> 
          получении, наличными или пластиковой картой </h2>
      </div>
      <div class="col-md-3">
        <img class="dostav-time" src="{% static "deps/images/time.png" %}" alt="Image 4">
        <h1 class="h1-dost">Заказ заранее</h1>
        <h2 class="p-dost">Если вы хотите заказать пироги на другой день,<br>
          при оформлении заказа выберите<br>
          дату и время доставки</h2>
      </div>
    </div>
  </div>
  <div class="map-h1">
    <h1>Зона доставки по Курску</h1>
    <p class="map-h1">Перед заказом убедитесь , что вы находитесь в зоне<br>доставки</p>
  </div>
  <div class="grid-container">
    <div class="block1">
      <div class="square" style="background-color: red;"></div>
      <div class="text">Доставка 150 рублей , Бесплатно при заказе от 1400 рублей.</div>
      <div class="square" style="background-color: green;"></div>
      <div class="text">Доставка 200 рублей , Бесплатно при заказе от 1600 рублей.</div>
      <div class="square" style="background-color: yellow;"></div>
      <div class="text">Доставка 230 рублей , Бесплатно при заказе от 1800 рублей.</div>
    </div>
    <div class="block2">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae6e68940c9d8cf2590255be40e42d53f65cd5be2287f0273cda81f76efa1cc82&amp;source=constructor" width="500" height="350" frameborder="0"></iframe>
    </div>
  </div>
  <!-- Modal -->
  <div id="cartModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Сюда будет добавляться содержимое корзины -->
                <div id="cartItems">
                    {% for item in cart_items %}
                        <div>
                            <p>{{ item.product.name }} - ${{ item.product.price }}</p>
                            <form action="{% url 'remove_from_cart' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Remove from Cart</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <div>Итоговая стоимость: <span id="totalPrice">{{ total_price }}р</span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Продолжить покупки</button>
                <a href="{% url 'checkout' %}" class="btn btn-primary">Оформить заказ</a>
            </div>
        </div>
    </div>
</div>
  <div class="footer">
    <div class="left-block">
      <h1>+7(906)6910902</h1>
      <p>Прием заказов с 09:00 до 21:00</p>
      <p>Доставка с 10:00 до 21:00</p>
      <p>Без выходных</p>
    </div>
    <div class="center-block">
      <h1>Контакты</h1>
      <div class="icons">
        <img src="{% static "deps/images/icon/icon-tg.svg" %}" alt="Иконка 1">
        <img src="{% static "deps/images/icon/icon-vk.svg" %}" alt="Иконка 2">
        <img src="{% static "deps/images/icon/icon-wt.svg" %}" alt="Иконка 3">
      </div>
    </div>
    <div class="right-block">
      <h1>Адрес пекарни</h1>
      <p>г.Курск,Северо-Западный р-н,</p>
      <p>пр-кт Надежды Плевицкой 25</p>
      <p>С 09:00 до 21:00. Без выходных</p>
    </div>
  </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const addToCartButtons = document.querySelectorAll('.add-to-cart');
      addToCartButtons.forEach(button => {
        button.addEventListener('click', function () {
          const product = this.getAttribute('data-product');
          const price = parseFloat(this.getAttribute('data-price'));

          const cartItem = document.createElement('div');
          cartItem.classList.add('cart-item');
          cartItem.innerHTML = `
            <div class="cart-item-details">
              <span class="product-name">${product}</span>
              <span class="product-price">${price}р</span>
            </div>
            <button class="btn btn-danger btn-sm remove-item">Удалить</button>
          `;

          const cartItemsContainer = document.getElementById('cartItems');
          cartItemsContainer.appendChild(cartItem);

          updateTotalPrice();
        });
      });

      function updateTotalPrice() {
        const cartItems = document.querySelectorAll('.cart-item');
        let totalPrice = 0;

        cartItems.forEach(item => {
          const priceString = item.querySelector('.product-price').textContent;
          const price = parseFloat(priceString.substring(0, priceString.length - 1)); // Удаляем символ "р" и парсим как число
          totalPrice += price;
        });

        document.getElementById('totalPrice').textContent = `${totalPrice}р`;
      }

      document.getElementById('cartModal').addEventListener('click', function (event) {
        if (event.target.classList.contains('remove-item')) {
          event.target.parentElement.remove();
          updateTotalPrice();
        }
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
